
/*To be implemented in React Router style object. */

/*div{*/
/*    box-sizing: border-box;*/
/*}*/

:root {
    --trip-orange:#ff4200;
    --page-body-width: 82vw;

    --primary-text-color: #010100;
    --info-text-color: #232322;
    --outer-background-color: #fefefe;
    --page-background-color: #f5f5f5;
    --page-border-color: #eee;
    --box-shadow-color: #aaa;
    --decor-font-family: 'Secular One', sans-serif;
    --read-font-family: sans-serif;
    --tag-opacity: 0.2;
    --tag-background-color: white;

}

.page-tag {
    /*border-bottom: 11vh solid;*/
    /*border-left: 1vw solid transparent;*/
    height: 11vh;
    width: 11.5vw;
}


.nav-span {
    padding-left: 2vmax;
    pointer-events: none;
}
.top-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgba(256,256,256, 0.9);
    height: 60px;
    z-index: 100 !important;
    font-family: var(--decor-font-family);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5vw;
    font-size: larger;
}

.page-tags{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    top: calc(60px + 5vh);
    right:calc(var(--page-body-width) + 2px);
    min-height: 75vh;
    z-index: 2;
    font-size: 1.6vmax;
    line-height: 11vh;
    font-family: var(--decor-font-family);
    /*color: var(--primary-text-color);*/
}

#calendar-tag .tag-background-img{
    background: url("../asset/calender-tag.jpg");
    /*!*    Photo by Estée Janssens on Unsplash *!*/

}

#chat-tag .tag-background-img {
    background: url("../asset/chat-tag.jpg");
/*    Photo by Debby Hudson on Unsplash*/
}

#tools-tag .tag-background-img {
    background: url("../asset/tools-tag.jpg");
    /*Photo by Bastien Hervé on Unsplash*/
}

#map-tag .tag-background-img {
    background: url("../asset/map-tag.jpg");
/*Photo by Bryan Trogdon on Unsplash*/
}

#dashboard-tag {
    margin-bottom: 3vh;
}

#dashboard-tag .tag-background-img {
    background: url("../asset/dashboard-tag.jpg");
    /*Photo by Hudson Hintze on Unsplash*/
}

.tag-background {
    transition: background-color 0.7s 0s;
    box-shadow: -1px 2px 5px #888;
}

.page-body {
    width: var(--page-body-width);
    left: calc(100vw - var(--page-body-width));
    z-index: 1;
    box-shadow: -1px 2px 5px #888;

}


.tag-background-img {
    opacity: var(--tag-opacity);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    /*border-radius: 15px 3px 3px 15px;*/
}

.tag-background {
    /*border-radius: 15px 3px 3px 15px;*/
    /*background-color: var(--tag-background-color);*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.page-body {
    font-family: var(--read-font-family);
}

.inactive-page{
    display: none;
}
.active-page {
    display: grid;
}

#map-page {
    position: relative;
    grid-template-columns: 50vmax 1fr;
}

#map-container, .info-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#map {
    /*height: 80%;*/
    margin-left: 3vmax;
    margin-top: 3vmax;
}

#map-img{
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}



.map-pin-icon {
    font-size: 1.5vmax;
    color: var(--trip-orange);
    pointer-events: none;
}



.place-name {
    padding-left: 5px;
}

.sticky-note {
    border: 1px var(--page-border-color);
    /*box-shadow: var(--box-shadow-color) 1px 1px 1px;*/
    max-height: 90%;
    width: 18vmax;
    padding: 2vmax 0.5vmax 2vmax 0.5vmax;
}

.added-notes-container {
    max-height: 200px;
    overflow: auto;
}

.map-info-table {
    height: 7em;
}


