body, html{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    color: var(--primary-text-color);
    background-color: var(--outer-background-color);
}

div{
    box-sizing: border-box;
}

:root {
    --page-body-width: 82vw;
    --fun-2-color: #ebd35e;
    --fun-1-color: #efaf7c;
    --dashboard-color: #e67575;
    --fun-3-color: #41ad9b;
    --fun-4-color: #abc9c3;
    --primary-text-color: #010100;
    --info-text-color: #232322;
    --outer-background-color: #fefefe;
    --page-background-color: #f5f5f2;
    --page-border-color: #eee;
    --box-shadow-color: #aaa;
    --decor-font-family: 'Fredericka the Great', cursive;
    --tag-opacity: 0.15;
    --tag-background-color: white;

}

.page-tag {
    /*border-bottom: 11vh solid;*/
    /*border-left: 1vw solid transparent;*/
    height: 11vh;
    width: 11.5vw;
    cursor: pointer;
}


.nav-span {
    padding-left: 2vmax;
    pointer-events: none;
}
.top-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgba(256,256,256, 0.9);
    height: 60px;
    z-index: 100;!important;
    font-family: var(--decor-font-family);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5vw;
    font-size: larger;
}

.page-tags{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    top: calc(60px + 5vh);
    right:calc(var(--page-body-width) + 2px);
    min-height: 75vh;
    z-index: 2;
    font-size: 1.6vmax;
    line-height: 11vh;
    font-family: var(--decor-font-family);
    color: var(--primary-text-color);
}
.page-tag{
    position: relative;
    box-shadow: 1px 2px 1px var(--box-shadow-color);
    color: var(--primary-text-color);
}

#calendar-tag .tag-background-img{
    background: url("../asset/calender-tag.jpg");
    /*!*    Photo by Estée Janssens on Unsplash *!*/
}
#calendar-tag .tag-background {
    background-color: var(--fun-2-color);
}

#chat-tag .tag-background{
    background-color: var(--fun-1-color);
}
#chat-tag .tag-background-img {
    background: url("../asset/chat-tag.jpg");
/*    Photo by Debby Hudson on Unsplash*/
}
#tools-tag .tag-background {
    background-color: var(--fun-4-color);
}
#tools-tag .tag-background-img {
    background: url("../asset/tools-tag.jpg");
    /*Photo by AbsolutVision on Unsplash*/
}
#map-tag .tag-background{
    background-color: var(--fun-3-color);
}
#map-tag .tag-background-img {
    background: url("../asset/map-tag.jpg");
/*Photo by Bryan Trogdon on Unsplash*/
}

#dashboard-tag {
    margin-bottom: 3vh;
}
#dashboard-tag .tag-background {
    background-color: var(--dashboard-color);
}

#dashboard-tag .tag-background-img {
    background: url("../asset/dashboard-tag.jpg");
/*    Photo by Nick Abrams on Unsplash*/
}
.active {
    left: 2vw;
    width: 15vw;
}

.page-body {
    height: 100vh;
    width: var(--page-body-width);
    position: fixed;
    left: calc(100vw - var(--page-body-width));
    border-left: solid 1px var(--page-border-color);
    box-shadow: -2px 1px 2px var(--box-shadow-color);
    background-color: var(--page-background-color);
    z-index: 1;
}


.test-panel {
    position: fixed;
    right: 20vw;
    top: 20vh;
    border: 2px solid white;
    background-color: gray;
    z-index: 100;!important;
    width: 200px;
    color: white;
}

.tag-background-img {
    opacity: var(--tag-opacity);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}

.tag-background {
    background-color: var(--tag-background-color);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}




