body, html{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    color: var(--primary-text-color);
    background-color: var(--outer-background-color);
}

div{
    box-sizing: border-box;
}

:root {
    --page-body-width: 82vw;
    --fun-2-color: #ebd35e;
    --fun-1-color: #efaf7c;
    --dashboard-color: #e67575;
    --fun-3-color: #41ad9b;
    --fun-4-color: #8bc9c3;
    --primary-text-color: #505045;
    --info-text-color: #232322;
    --outer-background-color: #f4f4f1;
    --page-background-color: #fdf5ef;
    --page-border-color: #eee;
    --box-shadow-color: #aaa;
    --decor-font-family: 'Fredericka the Great', cursive;

}

.page-tag {
    border-bottom: 12vh solid;
    border-left: 1vw solid transparent;
    height: 0;
    width: 11vw;
}
.nav-span {
    padding-left: 2vmax;
}
.top-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgba(256,256,256, 0.9);
    height: 60px;
    z-index: 100;!important;
    font-family: var(--decor-font-family);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5vw;
}

.page-tags{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    top: calc(60px + 5vh);
    right:calc(var(--page-body-width) + 2px);
    min-height: 75vh;
    z-index: 2;
    font-size: 1.6vmax;
    line-height: 12vh;
    font-family: var(--decor-font-family);
}
.page-tag{
    position: relative;
    box-shadow: 1px 2px 1px var(--box-shadow-color);
}
#calendar-tag {
    border-bottom-color: var(--fun-2-color);
}
#chat-tag {
    border-bottom-color: var(--fun-3-color);
}
#tools-tag {
    border-bottom-color: var(--fun-4-color);
}
#map-tag {
    border-bottom-color: var(--fun-1-color);
}
#dashboard-tag {
    border-bottom-color: var(--dashboard-color);
    margin-bottom: 3vh;
}
.active {
    left: 2vw;
    width: 15vw;
}

.page-body {
    height: 100vh;
    width: var(--page-body-width);
    position: fixed;
    left: calc(100vw - var(--page-body-width));
    border-left: solid 1px var(--page-border-color);
    box-shadow: -2px 1px 2px var(--box-shadow-color);
    background-color: var(--page-background-color);
    z-index: 1;
}


.test-panel {
    position: fixed;
    right: 20vw;
    top: 20vh;
    border: 2px solid white;
    background-color: gray;
    z-index: 100;!important;
    width: 200px;
}