@tailwind base;

@tailwind components;

@tailwind utilities;

.active {
    left: 2vw !important;
    width: 15vw !important;
    color: white !important;
}
.active .tag-background {
    background-color: var(--trip-orange);
}

.map-pin-bubble {
    position: absolute;
    border: 2px solid var(--trip-orange);
    border-radius: 50%;
    width: 3vmax;
    height: 3vmax;
    text-align: center;
    background-color: rgba(256,256,256,0.7);
    line-height: 3.3vmax;
    cursor: pointer;
}

.map-pin-bubble::after{
    content:"";
    width: 0;
    position: absolute;
    top: calc(3vmax - 1px);
    left: calc(50% - 3px);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 1.5vmax solid var(--trip-orange);
}

