@tailwind base;

@tailwind components;

@tailwind utilities;

.active {
    left: 2vw !important;
    width: 15vw !important;
    color: white !important;
}
.active .tag-background {
    background-color: var(--trip-orange);
}

.trip-shadow {
    box-shadow: -1px 2px 5px #888;
}

.m-s-3vma {
    margin-left: 3vmax;
    margin-top: 3vmax;
}

.trip-orange-gradient-left{
    background: linear-gradient(90deg, rgb(246, 97, 61), #f5f5f5 90%);
}



